streamlit
langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
transformers
huggingface-hub
python-dotenv
pypdf
tavily-python